/*=======================================*/

/*			 Table of contents           */

/*=======================================*/

/*
1. Typography
2. Common content setting 
3. Header
4. Footer
5. Index page
6. Adjustment other pages
7. Media query



/**--- 1. Typography ---**/

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.3rem;
  letter-spacing: -0.1rem;
  word-spacing: 0.6rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.7rem;
  color: #000;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  color: #000;
}

h6 {
	font-size: 1.2rem;
	color: #fff;
	font-weight: 500;
}

p {
  padding-top: 1.3rem;
}

a { 
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}

a:hover {
  color: #d89e68;
}

a:visited {
  color: #000;
}

li {
  color: #000;
  list-style: none;
}



/**--- 2. Common content setting ---**/

img {
  vertical-align: middle;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.about {
  padding-top: 2.5em;
}

.blank-box {
  background-color: transparent;
  width: 10px;
  height: 10px;
  margin: auto;
}

label {
  font-size: 1.2rem;
}

input, textarea {
  border:1px dotted black;
  font-size: 1rem;
  width: 100%;
  padding: 0 1rem;
}

.bg-container {
  background: url("../img/banner.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.text-content-container {
  padding: 3rem 13rem;
}

.text-content-container p {
  font-size: 1.2rem;
}

.inner-page-banner {
  height: 80vh;
  max-height: 400px;
  position: relative;
}

.inner-page-banner img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  max-width: 100%;
}

.banner_text_container {
  position: relative;
  height: 100%;
  z-index: 1;
  width: 100%;
}

.banner-box {
  position: absolute;
  left:0; 
  right:0;
  bottom: 4rem;
  margin: auto;
  text-align: center;
}

.banner-box h1 {
  letter-spacing: 0.1rem;
}

.sub-menu-container {
  margin: 3rem 0;
  max-height: 440px;
  background-color: #f5f5f5;
  padding: 1rem;
}

.sub-menu-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap : wrap;
}

.sub-menu-list li {
  margin: 1.5rem;
  list-style: inside;
}

.sub-menu-list li a {
  font-size: 1.3rem;
  text-decoration: underline;
}

.sub-menu-list li a:visited {
  color: #000;
}

#section-one, #section-two, #section-three, #section-four, #section-five, #section-six, #section-seven {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

#section-five, #section-seven {
  margin-bottom: 0;
}

#section-six, #section-seven {
  display: block;
}

.split-box-one {
  width: 35%;
}

.split-box-two {
  width: 65%;
}

.split-box-three {
  width: 100%;
  display: none;
}

.split-box-four {
  width: 100%;
}

.bg-cover-35, .bg-cover-65, .bg-cover-100, .bg-cover-100-text {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.bg-cover-35 {
  padding-top: calc(100/100 * 100%);
  background-color: rgba(219, 236, 255, 0.3);
}

.bg-cover-65 {
  padding-top: calc(65/120 * 100%);
  background-color: rgba( 255, 255, 255, 0.8 );
}

.bg-cover-100 {
  background-color: rgba(219, 236, 255, 0.3);
  min-height: 5rem;
}

.bg-cover-100-text {
  background-color: rgba( 255, 255, 255, 0.8 );
  min-height: 20rem;
  height: auto;
}

.text-content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  position: absolute;
}

.heading-area, .text-area {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-area {
  padding: 1.5rem;
  width: fit-content;
}

.text-area p {
  padding: 0;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.con-phone p {
  border: 1px solid #fff;
  border-radius: 0.4em;
  padding: 0.3em 0.7em;
  color: #fff;
  letter-spacing: 0.3rem;
}

.text-area .con-phone p {
  color: #000;
}

.flex-container {
  display: flex;
  padding: 2rem 3rem;
}

.flex-container .blog {
  flex: 1;
  margin: 0 1.5%; /* for iOS -> 'gap' is not working */
  min-height: 30vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.blog:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: 5px solid transparent;
}

.blog .img {
  flex: 5;
  position: relative;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.blog .img img {
  max-width: 400px;
  width: 100%;
  height: auto;
}
.blog .heading, .blog .content {
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3 ;
  -webkit-box-orient: vertical;
}
.blog .heading {
  margin-top: 1rem;
  line-height: 1.8rem;
}
.blog .heading h4 {
  font-size: 1.5rem;
  text-align: center;
}
.blog .date {
  flex: 1;
  text-align: end;
  padding: 0.5rem;
}
.blog .content {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: left;
}
.btn_book_area {
  text-align: center;
  width: 100%;
}
#btn_book {
  display: inline-block;
  margin: 4rem 0 6rem 0;
  background-color: unset;
  font-size: 1.3rem;
  color: #ad743e;
  padding: 1.5rem 2.5rem;
  border: 2px solid #ad743e;
}
.whole-text .text-content-container {
  padding: 4rem 2rem;
  line-height: 2rem;
}



/**--- 3. Header ---**/

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 25px 0;
}

.navbar.sticky {
  background: #fff;
  opacity: 90%;
  padding: 20px 0px;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #181818;
  font-size: 27px;
  font-weight: 700;
  text-decoration: none;
  line-height: 8px;
}

.navbar .logo .letter {
  font-size: 17px;
  font-weight: 500;
}

.navbar .logo a:hover {
  color: #d89e68;
}

.navbar .menu-list {
  display: inline-flex;
}

.navbar .menu-list li {
  margin-left: 1.5rem;
}

.menu-list li a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #d89e68;
  font-weight: 700;
}

.menu-list li a:visited {
  color: #000;
}

.menu-list .booking-box a {
  border: 1px solid #181818;
  padding: 0px 9px;
}

.menu-list .booking-box a:hover {
  border: 1px solid #fff;
  background-color: #d89e68;
  color: #fff;
}

.icon {
  cursor: pointer;
  display: none;
}

.icon input {
  border: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: -6%;
}



/**--- 4. Footer ---**/

footer {
  background: #004368;
}

footer h4 {
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

footer .content-container {
  grid-template-rows: 1fr auto;
  padding-top: 3rem;
}

.weather-widget {
  grid-area: 1/1/2/2;
  display: block;
  padding: 0 0 3rem 0;
}

.footnav {
  grid-area: 1/2/2/3;
} 

.footcontact {
  grid-area: 1/3/2/4;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  height: 100%;
}

.footcredit {
  grid-area: 2/1/3/4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}

.footnav .menu-list li {
  list-style: none;
  text-decoration: underline;
  height: 100%;
}

.footnav .menu-list a {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.2rem;
}

.footnav .menu-list a:visited {
  color: #fff;
}

.footcontact .con-phone {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.footcontact .con-address {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.footcontact .con-address p {
  color: #fff;
  line-height: 3em;
  text-align: center;
}



/**--- 5. Index page ---**/

/*- 5. Index page : main banner -*/
.banner {
  background: url("../img/banner.jpg") no-repeat center;
  background-attachment: fixed;
  height: 95vh;
  background-size: cover;
}

.slogan img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  background-size: auto;
}

/*- 5. Index page : text section -*/
.about .text-content-container p {
  text-align: center;
}

.about h2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5rem;
}

/*- 5. Index page : content link section -*/
.main-bg-cover {
  background-color: rgba(193, 210, 226, 0.8);
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(141px, 396.6px));
  text-align: center;
  justify-content: center;
  gap: 0;
  margin: 0 auto;
}

.img-menu, #text-menu, #text-abouthaukai, .img-abouthaukai, .img-restaurant_1, .img-location, #text-location {
  height: 330px;
  position: relative;
}

.img-menu, .img-restaurant_1, .img-restaurant_2, #text-menu, #text-abouthaukai {
  max-width: 330px;
}

.img-abouthaukai, .img-restaurant_2, .img-location, #text-location {
  max-width: 495px;
}

.img-menu {
  grid-column: 2/4;
  background: url("../img/img-menu_330x330.jpg") no-repeat center;
  background-size: cover;
}

#text-menu {
  grid-column: 5/7;
  background: url("../img/text-menu_330x330.jpg") no-repeat;
  background-size: cover;
}

#text-abouthaukai {
  grid-column: 1/3;
  background: url("../img/text-abouthaukai_330x330.jpg") no-repeat;
  background-size: cover;
}

.img-abouthaukai {
  grid-column: 3/6;
  background: url("../img/img-abouthaukai_495x330.jpg") no-repeat;
  background-size: cover;
}

.img-restaurant_1 {
  grid-column: 2/4;
  background: url("../img/img-restaurant_1_330x330.jpg") no-repeat;
  background-size: cover;
}

.img-restaurant_2 {
  grid-column: 4/7;
  background: url("../img/img-restaurant_2_495x330.jpg") no-repeat center;
  background-size: cover;
}

.img-location {
  grid-column: 1/4;
  background: url("../img/img-location_495x330.jpg") no-repeat center;
  background-size: cover;
}

#text-location {
  grid-column: 5/7;
  background: url("../img/text-location_495x330.jpg") no-repeat;
  background-size: cover;
}

.img-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;                         
  z-index: 1;
}

.img-cover h4 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  color: #fff;
}

/*- 5. Index page : posting link section -*/
.post-bg-cover {
  background-color: rgba( 255, 255, 255, 0.7 );
}

.section-head {
  padding-top: 3em;
}

.section-head h2 {
  text-align: initial;
  color: #282828;
  font-size: 1.7rem;
  font-weight: 700;
}

.post-bg-cover .flex-container {
  padding: 2rem 0;
}

.post-readmore {
  grid-column: 1/4;
  grid-row: 3/4;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.post-readmore a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: underline;
}

.post-readmore a:hover {
  color:#d89e68;
  font-weight: 500;
}



/**--- 6. Adjustment other pages ---**/

/*- About us page -*/
.map_box iframe {
  position: relative;
	width: 100%;
  height: 35vh;
	border: 0;
  margin-bottom: 4em;
}
.gc_box {
  display: block;
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.gc-dialog {
  display: block;
  transform: translate(0,0);
  position: relative;
  width: auto;
  margin: 1rem auto;
  pointer-events: none;
  padding: 0 1rem 1rem 1rem;
  max-width: 950px;
}
.gc-dialog iframe {
  min-height: 450px;
}
/*- Contact page -*/
.entercs {
  width: 100%;
  padding: 1rem 3rem;
  min-height: 24rem;
}
.enter_bundle {
  display: block;
  position: relative;
  padding: 1rem 6rem 0.5rem 1rem; 
}
.bundle_tit {
  width: 18%;
  position: absolute;
  left: 0;
  text-align: right;
}
.bundle_input {
  width: 100%;
  padding: 0 0 0 13rem;
  position: relative;
}
#submit {
  position: absolute;
  right: 6rem;
  width: 100px;
  height: auto;
  border: none;
  background-color: #787878;
  color: #fff;
  font-weight: 700;
  padding: 0.4rem 1rem;
}
/*- Menu page -*/
.menus-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.menus-container .menus {
  flex: 1;
  width: 100%;
  border: 1px solid #787877;
  margin: 2%; /* for iOS -> 'gap' is not working */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 310px;
  padding: 1rem;
}
.menu_category, .menu_item {
  margin: 1.2rem;
  text-align: center;
}
.menu_category h2 {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.menu_item .item {
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 100%;
}
.menu_img-box, .menu_img-box-two, .menu_img-box img, .menu_img-box-two img {
  max-width: 100%;
}
.menu_img-box {
  height: 566px;
  zoom: 1.2;
  line-height: 566px;
  overflow: hidden;
  margin: 2px;
}
.menu_img-box-two {
  margin-bottom: 1rem;
  display: inline-block;
}
.menu_img-box img {
  max-width: 420px;
  vertical-align: middle;
}
.menu_item .item span {
  margin-left: 1rem;
  color: #ad743e;
  font-weight: 700;
}
.menu_item .description {
  font-weight: 300;
}
.memu-table {
  display: table;
  margin: 0.5rem 0 3rem 0;
}
tbody {
  display: table-row-group;
}
tr {
  display: table-row;
  text-align: left;
}
th, td {
  display: table-cell;
  font-size: 1.1rem;
  font-weight: 300;
}
th h4 {
  font-weight: 700;
  padding-top: 1.3rem;
  color: #004368;
}
.bever_price_head, .bever_price {
  margin-left: 2rem;
  color: #ad743e;
  text-align: left;
  font-weight: 500;
}
.bever_price_head {
  font-weight: 700;
}
.menes_text {
  position: relative;
  text-align: center;
  height: 100%;
  order: 3;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10%;
}
/*- Booking buy page -*/
.text-area-2 {
  padding: 0 3rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
}
#btn_acknow {
  display: inline-block;
  margin: 3rem 0;
  background-color: unset;
  font-size: 1.2rem;
  color: #ad743e;
  padding: 1.2rem 2rem;
  border: 2px solid #ad743e;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-dialog {
  display: block;
  transform: translate(0,0);
  max-width: 640px;
  position: relative;
  width: auto;
  margin: 1rem auto;
  pointer-events: none;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  border: 1px solid #888;
}
.close {
  color: #787877;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: bold;
  padding: 1rem 2rem 0 0;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.iframe-form {
  position: relative;
}
.iframe-form iframe {
  max-width: 100%;
  max-height: 100%;
}





/**--- 7. Media query ---**/

@media screen and (min-width: 1600px) { /*- for large display -*/
  /*- Common content -*/
  .content {
    display: block;
    max-width: 1600px;
    margin: auto;
  }
  .text-content-container {
    padding: 4rem 9rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .heading-area, .text-area {
    padding: 4rem;
  }
  .text-area p {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .whole-text .text-content-container {
    padding: 4rem 2rem;
    line-height: 3rem;
  }
  /*- Header -*/
  .navbar .logo a {
    font-size: 32px;
    line-height: 10px;
  }
  .navbar .logo .letter {
    font-size: 20px;
  }
  .menu-list li a {
    font-size: 1.3rem;
    margin-left: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  /*- Index page : main banner -*/
  .banner {
    background: url("../img/l-banner_2200x1117.jpg") no-repeat center;
    background-attachment: fixed;
    height: 94vh;
    background-size: cover;
  }
  /*- Index page : text section -*/
  .title {
    font-size: 2.8rem;
  }
  .blank-box {
    height: 1rem;
  }
  .text-content-container p {
    font-size: 1.4rem;
  }
  /*- Index page : content link section -*/
  .img-cover h4 {
    font-size: 2.4rem;
  }
  /*- Index page : posting link section -*/
  .post-readmore {
    padding: 4rem 0;
  }
  .post-readmore a {
    font-size: 1.4rem;
  }
  /*- Contact page -*/
  .bundle_tit {
    width: 12%;
  }
  /*- Blog page -*/
  .blog .img img {
    max-width: 400px;
  }
  .blog .heading, .blog .content {
    padding: 0 2rem;
    min-height: 2rem;
  }
  .blog .heading h4 {
    font-size: 1.6rem;
  }
  .blog .date {
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
  } 
  .blog .content {
    font-size: 1.3rem;
    line-height: 1.8rem;
  } 
  /*- Menu page -*/
  .menu_img-box {
    margin: 10px;
  }
  .menu_img-box img {
    max-width: 590px;
  }
}

@media screen and (max-width: 900px) { /*- for ipad and tablets display -*/
  /*- Common content -*/
  .content {
    padding: 0 3%;
  }
  .text-content-container {
    padding: 2rem 2.5rem;
  }
  body.disabled {
    overflow: hidden;
  }
  .inner-page-banner {
    height: 70vh;
    max-height: 300px;
  }
  .banner-box {
    font-size: 1rem;
  }
  .sub-menu-list li {
    margin: 1.5rem;
  }
  #section-one, #section-two, #section-three, #section-four, #section-five {
    display: block;
  }
  .split-box-one, .split-box-two {
    width: 100%;
  }
  #section-two .split-box-one, #section-four .split-box-one {
    display: none;
  }
  .split-box-three {
    display: block;
  }
  .bg-cover-35 {
    padding: 3em;
  }
  .bg-cover-65 {
    padding: 3em;
    min-height: 340px;
  }
  .text-area {
    padding: 0.8rem;
  }
  .text-area p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .flex-container {
    flex-direction: column;
  }
  /*- Header -*/
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #fff;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 9vh;
    margin-left: 0;
  }
  .navbar .menu-list li a {
    font-size: 1.3rem;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0;
  }
  /*- Footer -*/
  footer .content-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr), 4rem;
    padding-top: 30px;
    grid-gap: 0;
  }
  .weather-widget {
    grid-area: 1/1/2/2;
    margin: 1rem auto;
  }
  .footnav {
    grid-area: 2/1/3/2;
  } 
  .footcontact {
    grid-area: 3/1/4/2;
    padding: 2.5rem 0;
  }
  .footcredit {
    grid-area: 4/1/5/2;
    margin-left: auto;
    margin-right: auto;
  }
  .foot-widgettext {
    padding: 1rem 0;
  }
  .footcontact .con-box {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  /*- Index page : main banner -*/
  .banner {
	  height: 80vh;
  }
  .slogan img {
    bottom: 15vh;
  }
  /*- Index page : content link section -*/
  .main-wrapper {
    grid-template-columns: repeat(2, minmax(155px, 330px));
  }
  .img-menu, #text-menu, #text-abouthaukai, .img-abouthaukai, .img-location, #text-location, .img-restaurant_1, .img-restaurant_2 {
    width: 100%;
    height: 0;
    padding-top: calc(330/330 * 100%);
  }
  .img-menu, #text-abouthaukai, .img-restaurant_1, .img-location {
    grid-column: 1/2;
  }
  #text-menu, .img-abouthaukai, .img-restaurant_2,  #text-location {
    grid-column: 2/3;
  }
  .img-cover h4 {
    font-size: 1.6em;
  }
  /*- Index page : posting link section -*/
  .post-bg-cover .content-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto) 5rem;
    padding: 1rem 0;
  }
  .section-head {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 2em;
  }
  .post-readmore {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  /**--- 6. Adjustment other pages ---**/
  /*- About us page -*/
  .map_box iframe{
    height: 90vw;
  }
  /*- Contact page -*/
  .entercs {
    padding: 1rem 1.3rem;
    min-height: 22rem;
  }
  .enter_bundle {
    padding: 0.7rem 0; 
  }
  .bundle_tit {
    width: 10%;
  }
  .bundle_input {
    padding: 0 0 0 6rem;
  }
  #submit {
    right: 0;
  }
  /*- Blog page -*/
  .flex-container {
    padding: 2rem 2rem;
  }
  .flex-container .blog {
    align-items: center;
    margin-bottom: 6rem;
  }
  .blog .img img {
    max-width: 400px;
  }
  .blog .heading, .blog .date, .blog .content {
    max-width: 400px;
  }
  /*- Menu page -*/
  .menus-container {
    flex-direction: column;
  }
  .menus-container .menus {
    margin: 2%;
    min-width: 0;
    max-width: 90vw;
    padding-bottom: 2.5rem;
  }
  .menu_img-box {
    zoom: unset;
    height: auto;
    line-height: unset;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .menu_img-box img {
    max-width: 100%;
    height: auto;
  }
  /*- Booking buy page -*/
  .text-area-2 {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 414px) { /*- for mobile display -*/
  /*- Common content -*/
  .content {
    padding: 0.8em;
  }
  .text-content-container {
    padding: 1.5rem 0;
  }
  .about {
    padding: 25px 0;
  }
  .inner-page-banner {
    height: 50vh;
    max-height: 200px;
  }
  .banner_text_container {
    height: auto;
  }
  .banner-box {
    position: static;
    padding: 14rem 0 0;
  }
  .banner-box h1 {
    letter-spacing: normal;
    font-size: 2rem;
  }
  .sub-menu-container {
    margin: 5rem 0;
  }
  .sub-menu-list {
    display: block;
    text-align: center;
  }
  .sub-menu-list li {
    margin: 2rem 0;
    list-style: inside;
  }
  .sub-menu-list li a {
    font-size: 1.2rem;
  }
  .bg-cover-65 {
    min-height: 460px;
  }
  .text-area {
    padding: 0.6rem;
  }
  .whole-text .text-content-container {
    padding: 4rem 0.6rem;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  /*- Header -*/
  .navbar, .navbar.sticky  {
    padding: 0;
  }
  .navbar .logo a {
    font-size: 24px;
    line-height: 4px;
  }
  .navbar .logo .letter {
    font-size: 15px;
  }
  .navbar .menu-list li {
    margin-top: 6.5vh;
  }
  .menu-list .cancel-btn {
    top: -2%;
  }
  /*- Footer -*/
  footer .content-container {
    padding: 0;
  }
  .footcredit {
    flex-direction: column;
  }
  #text-muted {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
  }
  /*- Index page : main banner -*/
  .banner {
    background: url("../img/s-banner_414x608.jpg") no-repeat;
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-attachment: scroll; /* for iOS phone -> 'background-attachment: fixed;' is not working */
  }
  .slogan img {
    padding: 0 4vw;
    bottom: 15vh;
  }
  /*- Index page : content link section -*/
  .img-cover h4{
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .main-bg-cover .content {
    padding: 0 0.8em;
  }
  /*- Contact page -*/
  .entercs {
    padding: 1rem 1rem;
    min-height: 31rem;
  }
  .enter_bundle {
    padding: 0.7rem 0; 
  }
  .bundle_tit {
    display: block;
    position: relative;
  }
  .bundle_input {
    width: 100%;
    display: block;
    padding: 0.5rem 0;
  }
  #submit {
    right: 0;
  }
  /*- Blog page -*/
  .flex-container {
    padding: 2rem 0.5rem;
  }
  .blog .img img {
    max-width: 370px;
  }
  .blog .heading, .blog .date, .blog .content {
    max-width: 370px;
  }
  .blog .date {
    padding: 1rem 0;
  } 
  .blog .date, .blog .content {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

