/*=======================================*/

/*			 Table of contents           */

/*=======================================*/

/*
1. Typography
2. Common content setting 
3. Header
4. Footer
5. Index page
6. Adjustment other pages
7. Media query



/**--- 1. Typography ---**/

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v15-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v15-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v15-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v15-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v15-latin-300.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v15-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v15-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v15-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v15-latin-500.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v15-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v15-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v15-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v15-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}

h1 {
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.3rem;
    letter-spacing: -0.1rem;
    word-spacing: 0.6rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.7rem;
    color: #000;
}

h4 {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    color: #000;
}

h6 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

p {
    padding-top: 1.3rem;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

a:hover {
    color: #d89e68;
}

a:visited {
    color: #000;
}

li {
    color: #000;
    list-style: none;
}



/**--- 3. Header ---**/

.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 45px;
}

.nav li {
    display: inline;
}

.navbar-collapse .navbar-nav {
    width: 100%;
}

.navbar .navbar-nav > li > a {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1rem 0.5rem;
    color: #000;
}

.navbar .navbar-nav > li > a:hover {
color: #d89e68;
font-weight: 700;
}

.nav li a:visited {
color: #000;
}

.booking-box {
    display: inline;
    padding: 7px 16px;
}

.navbar-nav .booking-box > a {
border: 1px solid #181818;
padding: 8px 16px;
}

.navbar .navbar-nav > .booking-box > a:hover {
border: none;
background-color: #d89e68;
color: #fff;
}

.navbar .navbar-toggle {
    border: none;
}

.navbar-collapse.in {
    overflow: hidden;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}

.cancel-btn {
    cursor: pointer;
    margin-bottom: 3rem;
}

.cancel-btn input {
    display: none;
}




/**--- 7. Media query ---**/

@media screen and (max-width: 999px) { /*- for ipad and tablets display -*/

    /*- Header -*/
    .navbar .navbar-nav > li > a {
        font-size: 1.3em;
        margin: 1rem 0;
    }
}   


@media screen and (max-width: 767px) { /*- bootstrap -*/
    /*- Header -*/
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 90vh;
        width: 100%;
        padding: 5vh 0;
        background: #d89e68;
        transition: all 0.3s ease;
    }
    .navbar-nav li {
        /* margin-top: 9vh; */
        margin-left: 0;
    }
    .cancel-btn {
        margin-bottom: 2rem;
    }
    .navbar-nav li input {
        display: block;
        margin: 1rem;
    }
    .navbar .navbar-nav > li > a {
        font-size: 1.7em;
        margin: 2vh 0;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}